.card{
    -webkit-box-shadow: 8px 8px 24px -8px rgba(0, 132, 255, 0.28);
    -moz-box-shadow: 8px 8px 24px -8px rgba(0,132,255,0.28);
    box-shadow: 8px 8px 24px -8px rgba(0, 0, 0, 0.089);
    padding: 20px;
    min-height: auto !important;
    min-width: auto ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18px;
    height: 33vh;
    border-radius: 24px;
}

.description{
    overflow: hidden;
    max-height: 3em;
}
.card img{
    height: 180px;
    width: 100%;
    overflow: hidden;
}
.card h4{
    font-size: 28px;
    font-weight: 200;
}
.card p{
    font-size: 16px;
    font-weight: 400;
}
.card h6{
    font-size: 16px;
    font-weight: 400;
}

.combinator{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

/* .logo{
    margin-right: 5px;
} */

button{
    padding: 10px 15px;
    color: #ffffffd8;
    background-color: #3170ac;
    border-radius: 4px;
    font-weight: bold;
}