<div class="body-login">
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form [formGroup]="myForm!">
    <a [routerLink]="''"><img src="../../../assets/job-hunter-low-resolution-logo-color-on-transparent-background.png" width="100"/></a>
    <h3>Login Here</h3>

    <label for="username">Username</label>
    <input type="text" placeholder="Email" [required]="true" id="username" [(ngModel)]="email" formControlName="email"/>
    <div *ngIf="myForm.get('email')?.invalid && (myForm.get('email')?.dirty || myForm.get('email')?.touched)">
      <small class="text-danger">Enter a valid email</small>
    </div>
    

    <label for="password">Password</label>
    <input type="password" [required]="true" placeholder="Password" [(ngModel)]="password" id="password" formControlName="password"/>

    <label for="role">Select A Role</label>
    <select [(ngModel)]="role" [required]="true" formControlName="role">
      <option value="none" [selected]="true" [disabled]="true" [hidden]="true">Select an Option</option>
      <option value="Recruiter">Recruiter</option>
      <option value="Job Seeker">Job Seeker</option>
    </select>
      <button class="loginButton" (click)="OnLogIn()" >Log In</button>
    <p>Or</p>
    <div class="social">
      <div class="go"><a routerLink="/jsr" class="link">Sign Up</a></div>
      <!-- <div class="fb">
        <a routerLink="/rr" class="link">Recruiter</a></div> -->
    </div>
  </form>
</div>
