*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body-login {
  /* background: #26cef9; */
  background-image: url('src/assets/shutterstoc.jpg');
  background-repeat: no-repeat;
  background-size:cover;

  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: 110px;
  top: -190px;
}
.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -268px;
  bottom: -97px;
}
form {
  /* height: 630px; */
  width: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 60%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
form * {
  font-family: "Poppins", sans-serif;
  color: #746d96;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
form img {
  display: block;
  margin: auto;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(215, 52, 93, 0.07);
  color: black !important;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #00000086;
}
button {
  margin-top: 50px;
  width: 100%;
  background-color: #4b4b6a;
  color: rgb(31, 3, 243);
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.social {
  margin-top: 30px;
  display: flex;
}
.social div {
  background: red;
  width: 100%;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #060606;
  text-align: center;
}
.social div.fb:hover {
  background-color: rgba(255, 255, 255, 0.47);
}
.social .fb {
  margin-left: 0px;
}
.social i {
  margin-right: 4px;
}