<app-navbar></app-navbar>
<div class="top-section">
    <app-top-widgets></app-top-widgets>
</div>
<div class="middle-section">
    <div class="widget left">
        <app-jobs-by-day></app-jobs-by-day>
    </div>
    <div class="widget right">
        <app-location-coverage></app-location-coverage>
    </div>
</div>
<div class="bottom-section">
    <div class="widget left">
        <app-most-popular-job></app-most-popular-job>
    </div>
    <div class="widget right">
        <app-companies-associated></app-companies-associated>
    </div>
</div>