<div class="widget-container">
    <div class="widget green">
      <div class="icon">
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{JobSeekers}}</div>
        <div class="bottom">Job Seeker</div>
      </div>
    </div>
    <div class="widget yellow">
      <div class="icon">
        <fa-icon [icon]="faBars"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{Jobs}}</div>
        <div class="bottom">Jobs</div>
      </div>
    </div>
    <div class="widget red">
      <div class="icon">
        <fa-icon [icon]="faBuilding"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{Recruiters}}</div>
        <div class="bottom">Companies</div>
      </div>
    </div>
    <div class="widget blue">
      <div class="icon">
        <fa-icon [icon]="faFileInvoice"></fa-icon>
      </div>
      <div class="value">
        <div class="top">{{Applications}}</div>
        <div class="bottom">Application till date</div>
      </div>
    </div>
  </div>